body {
  font-family: 'Helvetica';
  font-weight: 300;
  background: #fff;
  color: #535353;
  margin: 0px;
  padding: 50px;
  overflow: auto;
  font-size: 16px;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  overflow: auto;
}

@media (max-width: 500px) {
  body {
    padding: 20px;
  }
}

h1 {
  font-family: 'Lato', 'Helvetica', Arial, sans-serif;
  font-weight: 300;
  margin-bottom: 0;
}

textarea {
  width: 100%;
  font-family: 'Helvetica';
  font-weight: 300;
  font-size: 16px;
  height: 150px;
  line-height: 24px;
}

#footer {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 2px solid #E91E63;
  text-align: center;
  text-transform: uppercase;
}

#footer > p {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .2em;
  padding-right: 6px;
}

.note {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 12px;
}

.red {
  color: #E91E63;
}

a:link, a:visited {
  color: #E91E63;
  text-decoration: none;
}

a:hover {
  color: #2196F3;
}
